{% extends 'base.html.twig' %}

{% block title %}Detalhes do Pokémon{{ parent() }}{% endblock %}

{% block body %}
    <div class="fundo-header">
        <h1>Detalhes do Pokémon</h1>
    </div>
    <div class="wrapper">
        <div class="section-header">
            <h1>{{ card.name }}</h1>
            <div class="col2 col-s2 aa-opacity-3">
                <p>{{ card.types | join(', ') }}</p>
            </div>
        </div>
        <div class="section-features">
            <div class="row">
                <div class="col-1">
                    <img src="{{ card.imageUrlHiRes }}" alt="{{ card.name }}">
                </div>
                <div class="col-2 espaco">
                    <p><strong>Nome:</strong> {{ card.name }}</p>
                    <p><strong>ID:</strong> {{ card.id }}</p>
                    <p><strong>Tipo(s):</strong> {{ card.types | join(', ') }}</p>
                    {% if card.resistances is defined %}
                        <p><strong>Resistência(s):</strong> {{ card.resistances[0] | join(', ') }}</p>
                    {% endif %}
                    {% if card.weaknesses is defined %}
                        <p><strong>Fraqueza(s):</strong> {{ card.weaknesses[0] | join(', ') }}</p>
                    {% endif %}
                    <h2>Ataques</h2>
                    <ul>
                        {% for attack in card.attacks %}
                            <li>{{ attack.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
